<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li><a href="#">Redipes</a></li>
        <li><a href="#">Shooping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdwn">
          <ul class="dropdown-menu"></ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
