<div class="row">
  <div class="col12">
    <form [formGroup]="recipeEditForm">
      <div class="row mb-3">
        <div class="col-5">
          <label for="Name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="Name"
            formControlName="name"
          />
          <small
            *ngIf="
              !recipeEditForm.get('name').valid &&
              recipeEditForm.get('name').touched
            "
            style="color: red"
            >*invalid name
          </small>
        </div>
        <div class="col-2">
          <label for="Amount" class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            aria-describedby="amount"
            formControlName="amount"
          />
          <small
            *ngIf="
              !recipeEditForm.get('amount').valid &&
              recipeEditForm.get('amount').touched
            "
            style="color: red"
            >*invalid amount
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-success me-3"
            (click)="newIngredientAdded()"
            [disabled]="recipeEditForm.invalid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>

          <button class="btn btn-primary me-3" (click)="clearForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
