<nav class="navbar ps-3 pe-5 navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>
  <button
    class="navbar-toggler list"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="w-100">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link deactive"
            routerLinkActive="active-item"
            routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link deactive"
            routerLinkActive="active-item"
            routerLink="/shoppinglist"
            >Shopping List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link deactive"
            routerLinkActive="active-item"
            routerLink="/login"
            >Login</a
          >
        </li>
      </ul>
    </div>

    <div class="dropdown" appDropdown>
      <a class="btn btn-light dropdown-toggle me-3" role="button">Manage</a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" style="cursor: pointer">Save Data</a>
        <a class="dropdown-item" style="cursor: pointer">Fetch Data</a>
      </div>
    </div>
  </div>
</nav>
