<div class="container bg-dark p-5 mt-2">
  <div *ngIf="displaySecrets; else hider" [ngStyle]="{ color: 'orange' }">
    Secret Password: Tuna
  </div>

  <ng-template #hider>
    <p [ngStyle]="{ color: 'orange' }">
      Click The Btn To Show The Hidden Details
    </p>
  </ng-template>
  <button type="button" class="btn btn-warning" (click)="showSecret()">
    Display Details
  </button>
  <br />
  <div *ngFor="let click of clicks; let i = index">
    <small [ngStyle]="{ color: 'orange', backgroundColor: setColor(i) }">{{
      clicks[i]
    }}</small>
  </div>
</div>
