<div class="row">
  <div class="col-12">
    <button class="btn btn-success" (click)="addRecipe(test)">
      New Recipe
    </button>
    <hr />
    <div class="list-group">
      <input type="text" name="" id="" #test />
      <a
        href="#"
        class="list-group-item list-group-item-action"
        *ngFor="let recipe of Recipes"
      >
        <div class="row">
          <div class="pull-left col-6">
            <h4>{{ recipe.name }}</h4>
            <p>{{ recipe.description }}</p>
          </div>
          <span class="pull-right col-6 pb-2"
            ><img
              [src]="recipe.imagePath"
              alt=""
              class="image-responsive"
              style="width: -webkit-fill-available"
            />
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
