<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-12" *ngFor="let recipe of Recipes">
    <a href="#" class="list-group-item">
      <div class="row">
        <div class="pull-left col-6">
          <h4>{{ recipe.name }}</h4>
          <p>{{ recipe.description }}</p>
        </div>
        <span class="pull-right col-6 pb-2"
          ><img
            [src]="recipe.imagePath"
            alt=""
            class="image-responsive"
            style="width: -webkit-fill-available"
          />
        </span>
      </div>
    </a>
  </div>
</div>

<div style="padding: 20px 20px 30px 20px">
  <app-recipe-item
    [externalValue]="{ value: 'this is from the outside world' }"
  ></app-recipe-item>
  <app-recipe-item
    [externalValue]="{ value: 'this is a string' }"
  ></app-recipe-item>
  <app-recipe-item
    [externalValue]="{ value: 'external value' }"
  ></app-recipe-item>
  <app-recipe-item [externalValue]="{ value: 'Muahahaha' }"></app-recipe-item>
  <app-recipe-item [externalValue]="{ value: 'Knave !!' }"></app-recipe-item>
</div>
